* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background-image: url("img/foto.a.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.caixa-conteudo {
    width: 100%;
    /* LARGURA */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixa-textos {
    width: 600px;
}
.caixa-textos a{
    color: rgb(5, 27, 27);
}

h2 {
    color: #ddbc74;
    font-weight: 600;
    /*Espessura da fonte */
    font-size: 60px;
}

.texto-starbucks {
    color: #c5ad78;
    font-weight: 900;
    font-size: 70px;
}

.paragrafo {
    font-size: 26px;
    color: #816767;
    font-weight: 700;
}

button {
    background-color: #ddbc74;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.5s;
   
}

button:hover {
    background-color: #f7e708;
   
}
button:hover a{
    text-decoration: #816767;
    color: #1b1b1a;
 
}


.logo {
    width: 80px;
   
}

.caixa-imagem{
width:250px;
    display: flex;
    justify-content: flex-end;
   
    
    
}

.imagem-copo {
    width:260px;
   height: 260px;
    border-radius: 100px;
   
   
}

.caixa-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.botao-menu {
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin: 10px;
    border-radius: 250px;
}

.circulo {
    background-color: #f0da9270;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}